#logo {
    padding-right: 30px;
    /* height: 70px; */
}

.txtLanding {
    text-transform: uppercase;
}


/* effect-shine */
a.effectShine:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
    color: rgb(41, 60, 41);
}

@-webkit-keyframes shine {
    from {
    -webkit-mask-position: 150%;
    }
    
    to {
    -webkit-mask-position: -50%;
    }
}

/* Additional Nav Bar */
#secondary-nav {
    width: 100%;
    background-color: #804e4d;
    color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
  }

#secondary-nav a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

#secondary-nav a:hover {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8); 
}


/* Review Cards */
.card {
    transition: transform 0.3s, box-shadow 0.3s;
    color: #000000; 
    margin: 15px;
}

.card-body {
    background-color: #fbefe1; 
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

/* Scroll to Top Button */
#scroll-to-top-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
  background-color: #804e4d;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  z-index: 9999;
}


/* Quiz */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.containerquiz {
    margin: 0 auto;
    color: #000000;
    padding: 20px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.question{
    width: 75%;
}

.options{
    position: relative;
    padding-left: 40px;
}
#options label{
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    cursor: pointer;
}
.options input{
    opacity: 0;
}
.checkmark {
    position: absolute;
    top: -1px;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid #804e4d;
    border-radius: 50%;
}

.options input:checked ~ .checkmark:after {
    display: block;
}

.options .checkmark:after{
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 300ms ease-in-out 0s;
}

.options input[type="radio"]:checked ~ .checkmark{
    background: #804e4d;
    transition: 300ms ease-in-out 0s;
}

.options input[type="radio"]:checked ~ .checkmark:after{
    transform: translate(-50%,-50%) scale(1);
}

@media(max-width:576px){
    .question{
        width: 100%;
        word-spacing: 2px;
    } 
    /* Styles for screens with a minimum width of 576px (small screens) */
    .card {
        width: 30vh;
        margin: 1px;
        margin-left: 0;
        padding-left: 0;
    }
}

/* Cursor */
.typed-cursor {
    display: none;
}

  /* If fade out option is set */
.typed-fade-out {
}


