/* -----LANDING PAGE CSS START----- */
#logo {
  padding-right: 30px;
}

.txtLanding {
  text-transform: uppercase;
}

.simpleUsage {
  font-size: 33px;
  color: #424242;
}

/* effect-shine */
a.effectShine:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
  color: rgb(41, 60, 41);
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}

/* --gallery on--- */
html,body{
  width: 100%;
  height: 100%;
  margin: 0;
}

.container{
  /* padding: 25px 0; */
  margin: 0 auto;
  width: 1140px;
}

.gallery h1 {
  position: relative;
  /* margin-bottom: 45px; */
  font-family: 'Oswald', sans-serif;
  font-size: 44px;
  text-transform: uppercase;
  color: #424242;
}

.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50vh;
}

.item {
  flex: 1;
  height: 80%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
}

.item:hover{
  flex: 7;
}

.item-1 { 
  background-image: url('https://images.unsplash.com/photo-1453614512568-c4024d13c247?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2064&q=80');
}

.item-2 { 
  background-image: url('https://images.unsplash.com/photo-1514134583630-250e42c36dbd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80');
}

.item-3 { 
  background-image: url('https://images.unsplash.com/photo-1553292218-4892c2e7e1ae?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80');
}

.item-4 { 
  background-image: url('https://images.unsplash.com/photo-1562447457-579fc34967fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80');
}

.item-5 { 
  background-image: url('https://images.unsplash.com/photo-1534201569625-ed4662d8be97?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=822&q=80');
}

/* --gallery off--- */

/* carousel  */
.imgCar {
  height: 80vh;
  object-fit: cover;
}

@media screen and (max-width: 800px) {
  .imgCar {
    height: 50vh;
  }
}

/* Cursor */
.typed-cursor {
  display: none;
}

/* If fade out option is set */
.typed-fade-out {
}

/* -----LANDING PAGE CSS END----- */













